
  h1 {
  font-family: courier new;
  }

  h3 {
  font-family: courier new;
  }

  .title {
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: 100px;
}

.footer{
  margin-top: 50px;
  margin-left: 50px;
}
